body {
    color: rgb(220, 221, 230);
    background: rgb(22, 21, 24);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(199, 33, 60);
    padding: 20px;
    font-size: 32px;
    color: rgb(199, 33, 60);
}

.chamada{
    background: rgb(32, 30, 34);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity: 1;
    border: 1px solid rgb(199, 33, 60);
}

.categoria h2{
    color: rgb(199, 33, 60)
}